<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register Here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
</head>
<body>
	<div class="topnav">
		<a class="active" th:href="@{/kitchen_settings}">Home Settings</a> <a
			th:href="@{/view_menu}">View Menu</a> 
			<a href="#kitchen"><spanth:text="${kitchen.name}"></span></a>
			<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
	</div>
	<h1>Kitchen Menu</h1>
		<table>
		<tr>Menu Items</tr>
		<tr th:each="menu : ${items}">
	  
		<td><a th:href="@{/list_items/{id}(id=${menu.id})}" th:text ="${menu.itemName}"></a></td>

		&nbsp;&nbsp;&nbsp;&nbsp;
		<td> <a th:href="@{/edit_item/{id}(id=${menu.id})}"><button type="button">Edit Item</button></a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<td> <a th:href="@{/delete_item/{id}(id=${menu.id})}"><button type="button">Delete Item</button></a>
		</tr>
		</table>
		<a href="/kitchen_settings"><button type="button">Go Back</button></a>
		<a href="/add_menu_item"><button type="button">Add Item</button></a>
</body>
</html>