<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register Here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
</head>
<body>
	<div class="topnav">
		<a class="active" th:href="@{/kitchen_settings}">Kitchen Settings</a> 
		<a th:href="@{/view_menu}">View Menu</a> 
		<a th:href="@{/edit_menu}">Edit Menu</a> 
			<a href="#kitchen"><span th:text="${kitchen.name}"></span></a>
			<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
	</div>
	<div th:if="${param.saved}">
		<div class="alert alert-info">Settings saved!</div>
	</div>
	<form th:action="@{/kitchen_settings}" th:object="${kitchen}"
		method="post">

		<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
			th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
			error</p>
			<h2>Kitchen Working Days</h2> 
		<div>
			<label>Monday</label> 
			<input type="checkbox" name="myBooleanVariable" th:checked="${myBooleanVariable}" />
		
			<label>Tuesday</label> 
			<input type="checkbox" name="myBooleanVariable" th:checked="${myBooleanVariable}" />
		
			<label>Wednesday</label> 
			<input type="checkbox" name="myBooleanVariable" th:checked="${myBooleanVariable}" />
		
			<label>Thursday</label> 
			<input type="checkbox" name="myBooleanVariable" th:checked="${myBooleanVariable}" />
		
			<label>Friday</label> 
			<input type="checkbox" name="myBooleanVariable" th:checked="${myBooleanVariable}" />
		
			<label>Saturday</label> 
			<input type="checkbox" name="myBooleanVariable" th:checked="${myBooleanVariable}" />
		
			<label>Sunday</label> 
			<input type="checkbox" name="myBooleanVariable" th:checked="${myBooleanVariable}" />
		</div>
		<br>
		<h2>Kitchen Hours</h2> 
		<div>
			<label for="start-time">Kitchen opens at: </label> 
			<input id="start-time" type="time" name="start-time" value="13:37">
				 
				<label>End time</label> <select id="percentage" name="percentage">
				<option th:each="i : ${#numbers.sequence(0, 24)}" th:value="${i}"
					th:text="${i}"></option>
			</select>
		</div>
		<br>
		<h2>Kitchen Menu</h2> 
		<!-- <table>
			<tr>Menu Items</tr>
			<tr th:each="menu : ${items}">

				<td><a th:href="@{/list_items/{id}(id=${menu.id})}"
					th:text="${menu.itemName}"></a></td>
			</tr>
		</table> -->
		<div class="form-group">
			<a th:href="@{/view_menu}"><button type="button">View Menu</button></a>
			<a th:href="@{/edit_menu}"><button type="button">Edit Menu</button></a>
		</div>
		<a href="/kitchen_settings"><button type="submit" class="btn btn-success">Save</button></a>
	</form>
	<br>
	<div>
		<form th:action="@{/kitchen/save}" th:object="${kitchen}" method="post" enctype="multipart/form-data">
			<label for="imageURL">Choose a profile picture for your Kitchen:</label> <br> 
				<input type="file" name="imageURL" accept="image/png, image/jpeg" />
		</form>
	</div>
</body>
</html>